<style>
  @font-face {
    font-family: "NotoSans";
    src: local("NotoSans"), url(./assets/fonts/NotoSans/NotoSansKR-Regular.otf) format("truetype");
  }

  @font-face {
    font-family: "NotoSans-Light";
    src: local("NotoSans"), url(./assets/fonts/NotoSans/NotoSansKR-Light.otf) format("truetype");
  }

  @font-face {
    font-family: "Lequire";
    src: local("Lequire"), url(./assets/fonts/Lequire/Lequire.otf) format("truetype");
  }

  #landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #000;
    position: relative;
  }

  .root {
    height: 100%;
    width: 100%;
    background-color: #000;
  }

  body {
    height: 100vh;
    overflow-x: hidden;
    font-family: 'PT Sans', sans-serif;
    color: #444;
    background: #000;
  }

  .header {
    background: transparent;
    height: 15vh;
    display: flex;
    align-items: center;
    z-index: 2;
    padding-left: 60px;
  }

  .logo {
    width: 300px;
    height: 27px;
    z-index: 2;
  }

  .scrollbar {
    height: 100%;
    width: 100%;
    background: #000;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    position: relative;
  }


  .wrapper {
    display: flex;
    position: relative;
    z-index: 1;
    counter-reset: item;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
  }

  .section {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
  }

  .section0 {
    display: flex;
    justify-content: center;
    padding-left: 0%;
    align-items: end;
    width: 100%;
  }

  .buttons {
    width: 350px;
    height: 60px;
    padding: 10px 30px 10px 29px;
    /* margin: auto; */
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -5%);
    border: #7450ff 1px solid;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 3;

  }

  .buttons button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    width: 100%;
    z-index: 2;
  }

  .buttons button span {
    width: 240px;
    height: 24px;
    margin: 5px 10px 1px 0;
    font-family: "Lequire";
    font-size: 25px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .video {
    position: absolute;
    left: 0%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #000;
  }
</style>

<div class="root">
  <div class="header">
    <img alt="logo" src="../../../assets/images/0/i-logo-head.svg" class="logo" />
  </div>

  <!-- 이곳에 랜딩페이지 영상 소스를 삽입해주세요 gif는 img 태그를, video 라면 video 태그에 소스를 삽입해주세요 -->
  <!-- video 영상은 webm 파일, 또는 h.264 파일만 지원함 -->

  <!--  <img width="100%" alt="opening" src="../../../assets/images/0/video_thum.png" class="video" /> -->
  <video class="video" width="100%" height="100%" plays-inline loop muted autoplay oncanplay="this.play()"
    onloadedmetadata="this.muted = true">
    <source src="../../../assets/mp4/intro.mp4" type="video/mp4">
  </video>

  <div class="buttons">
    <button onclick="location.href='http://13.209.156.3:4200/intro'"> <span>Ttv a.i HOme page</span><img
        src="../assets/images/0/i-arrow-right-w.svg" alt="arrow" /></button>
  </div>
</div>